ul{list-style-type: none;}

body{
    background: rgb(169, 210, 177);
    color: white;

}


h1{
    font-size: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Noto Serif JP", sans-serif

}

h2{
    font-size: 50px;
    letter-spacing: 8px;
}

header{
    background-image: url(ai3.png);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
}


.list_header li{
    font-size: 20px;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
    transition: all 0.5s;
    border-radius: 20px;
}

.list_header li:hover{
    box-shadow: 3px 3px rgb(97, 96, 96);
    background-color:rgb(128, 148, 133);
}

.list_header li:active{
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px
}


.list_header{
    background-color: rgb(169, 210, 177);
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

#About p{
    font-size: 20px;
    font-weight: 70;
}


#About h3{
    font-size: 30px;
}



li{
    float: left;
    margin-left: 20px;

}

.products p{
    font-size: 20px;
    font-weight: bold;
}

.products img {
    width: 70%;
    height: auto;
}

.products {
    display: flex;
    justify-content: space-between;
}

#History p{
    font-weight: bold;
}

footer{
    text-align:  center;
}




